<!--<button class="btn btn-primary" type="button" *ngIf="users">
   <i class="fa fa-calendar" aria-hidden="true"></i> Người dùng
   <span class="badge">{{this.totalItems}}</span>
</button>-->
<hr/>

    <button class="btn btn-primary btn-sm" (click)="viewAdd()">
    <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>Tạo quyền hệ thống</button>
<div [@flyInOut]="'in'">
    <div class="col-md-9">
    <form class="span12" method="post" #userRoleSearchForm="ngForm"  novalidate >
        <label >Tìm kiếm:</label>
            <div class="input-group">
                
                <input type="text" class="form-control input-sm"  [(ngModel)]="this.searchString" name="SearchString" #SEARCHInput="ngModel"  pattern=".{1,500}"/>
            <span class="input-group-btn" ><button    (click)="search(this.searchString)" type="button" class="btn btn-success btn-sm"><i class="fa fa-search"></i> Tìm</button></span>
            </div>
    </form>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>

                <th>Tên quyền</th>
                <!--<th>Tên nhóm</th>-->
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usr of users">
              <!--<td class="text-xs-left"> {{usr.Id}}</td>-->
                <td class="text-xs-left"> {{usr.Name}}</td>
                <td>
                    <!-- <a class="btn btn-warning" (click)="viewDetails(usr)"><i class="fa fa-pencil-square-o" ></i> Cập nhật</a>
                <a class="btn btn-danger" (click)="delete(usr)"><i class="fa fa-trash-o" ></i> Xóa</a> -->
                
                <a data-toggle="tooltip" data-placement="top" title="Cập nhật" style="cursor:pointer;" (click)="viewDetails(usr)"><i class="fa fa-pencil-square-o fa-lg" style="color:#EF6C00"></i></a>
                
                  <a data-toggle="tooltip" data-placement="top" title="Xóa" style="cursor:pointer;" (click)="delete(usr)"><i class="fa fa-trash-o fa-lg" style="color:#D50000"></i></a>
            
            </td>


            </tr>
        </tbody>
    </table>

    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" class="pagination-sm"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
</div>

<div bsModal #childModal="bs-modal" class="modal fade popup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" *ngIf="selectedApplicationGroupLoaded">
        <div class="modal-content" style="background-color:whitesmoke;">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 *ngIf="!this.adding"> Cập nhật quyền: {{selectedApplicationGroup.Name}}</h4>
                <h4 *ngIf="this.adding"> Thêm quyền hệ thống</h4>
            </div>
            <div class="modal-body">
                <form method="post" #viewUserForm="ngForm" *ngIf="selectedApplicationGroupLoaded" novalidate>

                <!--Validate-->
                    <div class="alert alert-danger" [hidden]="this.isValid">
                            <ul *ngIf="formErrors.NAME">

                            <li>{{formErrors.NAME}}</li>
                        </ul>
                            <!--<ul *ngIf="NAMEInput.dirty && !NAMEInput.valid ">
                                <li *ngIf="NAMEInput.errors.required">Tên quyền không được bỏ trống</li>
                            <li *ngIf="NAMEInput.errors.pattern">Tên quyền phải từ 1-200 ký tự</li>
                            </ul>-->

                    </div>
             <!--End Validate-->
            <div class="form-group">
                <label ><span style="color:red">*</span> Tên quyền:</label>
                <input type="text" class="form-control" [(ngModel)]="this.selectedApplicationGroup.Name" name="NAME" #NAMEInput="ngModel" required pattern=".{1,200}"/>
            </div>
                    <hr/>
                    <button [class.hidden]="this.adding" [disabled]="!viewUserForm.form.valid" (click)="edit(this.selectedApplicationGroup)" type="button" class="btn btn-warning">Cập nhật</button>
                    <button [class.hidden]="!this.adding" [disabled]="!viewUserForm.form.valid" (click)="addNew(this.selectedApplicationGroup)" type="button" class="btn btn-success">Thêm</button>

                </form>
            </div>
        </div>
    </div>
</div>
