<!--<button class="btn btn-primary" type="button" *ngIf="users">
   <i class="fa fa-calendar" aria-hidden="true"></i> Người dùng
   <span class="badge">{{this.totalItems}}</span>
</button>-->
<hr/>

    <button class="btn btn-primary btn-sm" (click)="viewAddUser()">
    <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>Tạo tài khoản</button>
<div [@flyInOut]="'in'">
    <table class="table table-hover">
        <thead>
            <tr>

                <th>Tên đăng nhập</th>
                <th>Họ tên</th>
                <th>Email</th>
                <th>Điện thoại</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usr of users">
                <td class="text-xs-left"> {{usr.Username}}</td>
                <td>{{usr.Fullname}}</td>
                <td>{{usr.Email}}</td>
                <td class="text-xs-left">{{usr.Phone}}</td>
                <td><a class="btn btn-warning" (click)="viewUserDetails(usr)"><i class="fa fa-pencil-square-o" ></i> Cập nhật</a>
                <a class="btn btn-danger" (click)="deleteUser(usr)"><i class="fa fa-trash-o" ></i> Xóa</a>
                </td>


            </tr>
        </tbody>
    </table>

    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" class="pagination-sm"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
</div>

<div bsModal #childModal="bs-modal" class="modal fade popup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" *ngIf="selectedUserLoaded">
        <div class="modal-content" style="background-color:darkcyan;">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 *ngIf="!this.addingUser"> Cập nhật tài khoản: {{selectedUser.Username}}</h4>
                <h4 *ngIf="this.addingUser"> Thêm tài khoản</h4>
            </div>
            <div class="modal-body">
                <form method="post" #viewUserForm="ngForm" *ngIf="selectedUserLoaded" novalidate>

                <!--Validate-->
                    <div class="alert alert-danger" [hidden]="isValid">
                        <ul *ngIf="formErrors.EMAIL">
                            <li>{{formErrors.EMAIL}}</li>

                        </ul>
                        <ul *ngIf="formErrors.PHONE">
                           <li>{{formErrors.PHONE}}</li>
                            </ul>

                            <ul *ngIf="formErrors.Username">
                                <li>{{formErrors.Username}}</li>
                            </ul>
                            <ul *ngIf="formErrors.FULLNAME ">
                                <li>{{formErrors.FULLNAME}}</li>
                            </ul>

                            <ul *ngIf="formErrors.Password ">
                                    <li>{{formErrors.Password}}</li>
                            </ul>

                            <ul *ngIf="formErrors.DOMAIN ">
                                    <li>{{formErrors.DOMAIN}}</li>
                            </ul>
                            <ul *ngIf="formErrors.DOMAINDESC ">
                                    <li>{{formErrors.DOMAINDESC}}</li>
                            </ul>

                    </div>
             <!--End Validate-->
             <div class="form-group">
                <label ><span style="color:red">*</span> Username:</label>
                <input type="text" class="form-control" [readonly] = "!this.addingUser"  [(ngModel)]="this.selectedUser.Username" name="Username" #USERNAMEInput="ngModel" required pattern=".{1,50}"/>
            </div>
            <div class="form-group">
                <label ><span style="color:red">*</span> Mật khẩu:</label>
                <input type="password" class="form-control" [readonly] = "!this.addingUser"  [(ngModel)]="this.selectedUser.Password" name="Password" #PASSWORDInput="ngModel" required pattern=".{1,50}"/>
            </div>
            <div class="form-group">
                <label ><span style="color:red">*</span> Họ tên:</label>
                <input type="text" class="form-control" [(ngModel)]="this.selectedUser.Fullname" name="FULLNAME" #FULLNAMEInput="ngModel" required pattern=".{1,200}"/>
            </div>
             <div class="form-group">
                <label ><span style="color:red">*</span> Email:</label>
                <input type="text" class="form-control" [(ngModel)]="this.selectedUser.Email" name="EMAIL" #EMAILInput="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
            </div>
            <div class="form-group">
                <label ><span style="color:red">*</span> Điện thoại:</label>
                <input type="text" class="form-control" [(ngModel)]="this.selectedUser.Phone" name="PHONE" #PHONEInput="ngModel" required pattern=".{1,20}"/>
                <!--<textarea type="text" class="form-control" readonly>{{selectedMessage.Content}}</textarea>-->
            </div>
            <div class="form-group" [class.hidden]="!this.addingUser">
                <label ><span style="color:red">*</span> Domain:</label>
                <input type="text" class="form-control" [(ngModel)]="this.selectedUser.Domain" name="DOMAIN" #DOMAINInput="ngModel" required pattern=".{1,200}"/>

            </div>
            <div class="form-group" [class.hidden]="!this.addingUser">
                <label ><span style="color:red">*</span> Mô tả:</label>
                <input type="text" class="form-control" [(ngModel)]="this.selectedUser.DomainDesc" name="DOMAINDESC" #DOMAINDESCInput="ngModel" required pattern=".{1,500}"/>

            </div>
                    <hr/>
                    <button [class.hidden]="this.addingUser" [disabled]="!viewUserForm.form.valid &&(!DOMAINInput.valid && this.addingUser) &&(!DOMAINDESCInput.valid && this.addingUser)" (click)="editUser(this.selectedUser)" type="button" class="btn btn-warning">Cập nhật</button>
                    <button [class.hidden]="!this.addingUser" [disabled]="!viewUserForm.form.valid" (click)="addNewUser(this.selectedUser)" type="button" class="btn btn-success">Thêm</button>

                </form>
            </div>
        </div>
    </div>
</div>
