<div class="row">
    <h2>Thông tin tài khoản</h2>
    <h5><i class="ion-person"></i> Tên đăng nhập :<strong> {{currentUser.UserName}}</strong></h5>
     <h5><i class="ion-card"></i> Họ tên : <strong>{{currentUser.FULLNAME}}</strong></h5>
      <h5><i class="ion-ios-email-outline"></i> Email : <strong>{{currentUser.Email}}</strong></h5>
      <h5><i class="ion-iphone"></i> Số điện thoại : <strong>{{currentUser.PHONE}}</strong></h5>
      <h5><i class="ion-calendar"></i> Ngày tạo : <strong>{{currentUser.CREATE_DT}}</strong></h5>
</div>
<div class="row">
    <div class="btn-group btn-group-md" role="group">
  <button [routerLink]="['/pages/userprofile/changepassword']" type="button" class="btn  btn-warning"><i class="ion-edit"></i> Đổi mật khẩu</button>
  <!--<a type="button" class="btn  btn-primary"><i class="ion-clipboard"></i> Thay đổi thông tin</a>-->
  <!--<a [routerLink]="['/pages/domainuser/domainuserlist',this.currentUser.UserName]" type="button" class="btn  btn-info"><i class="fa fa-cog"></i> Cập nhật Domain</a>-->
</div>
</div>