<button class="btn btn-outline-primary" [routerLink]="['/pages/prjproject/prjprojectlist']">
  <span class="fa fa-backward" aria-hidden="true"></span> Quay về
</button>
<br />
<br />

<h3>Tổng quan hoạt động Website: {{domain}}</h3>
<br />
<br />
<h4>Hiệu suất theo sản phẩm</h4>

<!--<button class="btn btn-primary btn-sm" (click)="viewAddCategory()">-->
  <!--<i class="fa fa-plus" aria-hidden="true"></i>Thêm lĩnh vực</button>-->
<div [@flyInOut]="'in'">
  <div class="col-md-9">
    <form class="span12" method="post" #domainSearchForm="ngForm"  novalidate >
      <label >Tìm kiếm:</label>
      <div class="input-group">

        <input type="text" placeholder="Tìm kiếm theo tên sản phẩm" class="form-control input-sm"  [(ngModel)]="this.searchString" name="SearchString" #SEARCHInput="ngModel"  pattern=".{1,500}"/>
        <span class="input-group-btn" ><button   (click)="searchitem(this.searchString)" type="button" class="btn btn-success btn-sm"><i class="fa fa-search"></i> Tìm</button></span>
      </div>
    </form>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>

      <!--<th>Username</th>-->
      <th><strong>Mã sản phẩm</strong></th>
      <th><strong>Tên miền</strong></th>
      <th><strong>Tên sản phẩm</strong></th>
      <th><strong>Doanh thu</strong></th>
      <th><strong>Lượt xem chi tiết</strong></th>
      <th><strong>Số lượng SP thêm vào giỏ hàng</strong></th>
      <th><strong>Số lượng SP thanh toán</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of prjProjectOvervieweCommerces">
      <!--<td> {{msg.User}}</td>-->
      <td>{{item.PROJECT_ID}}</td>
      <td>{{item.DOMAIN}}</td>
      <td>{{item.PRODUCT_NAME}}</td>
      <td>{{item.ITEM_REVENUE| number}}</td>
      <td>{{item.PRODUCT_DETAIL_VIEWS}}</td>
      <td>{{item.QUANTITY_ADDED_TO_CART}}</td>
      <td>{{item.QUANTITY_CHECKED_OUT}}</td>
      <!--<td>-->
        <!--<a data-toggle="tooltip" data-placement="top" title="Xem chi tiết" style="cursor:pointer;" (click)="viewDetail(item)"><i class="fa fa-eye fa-lg" style="color:#1E88E5" ></i></a>-->
        <!--<a data-toggle="tooltip" data-placement="top" title="Cập nhật" style="cursor:pointer;" (click)="viewCategoryDetails(item)"><i class="fa fa-pencil-square-o fa-lg" style="color:#EF6C00"></i></a>-->

        <!--<a data-toggle="tooltip" data-placement="top" title="Xóa" (click)="deleteCategory(item)"><i class="fa fa-trash-o fa-lg" style="color:#D50000"></i></a>-->
      <!--</td>-->


    </tr>
    </tbody>
  </table>

  <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>


</div>

<br><br>
<h4>Hiệu suất sản phẩm theo trang (PAGE PATH)</h4>
<div [@flyInOut]="'in'">
  <div class="col-md-9">
    <form class="span12" method="post" #domainSearchForm="ngForm"  novalidate >
      <label >Tìm kiếm:</label>
      <div class="input-group">

        <input type="text" placeholder="Tìm kiếm theo tên trang" class="form-control input-sm"  [(ngModel)]="this.searchString" name="SearchString" #SEARCHInput="ngModel"  pattern=".{1,500}"/>
        <span class="input-group-btn" ><button   (click)="searchitemPrjProjectPageBehaviorEcommercesEcommerce(this.searchString)" type="button" class="btn btn-success btn-sm"><i class="fa fa-search"></i> Tìm</button></span>
      </div>
    </form>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>

      <!--<th>Username</th>-->
      <th><strong>Mã sản phẩm</strong></th>
      <th><strong>Tên miền</strong></th>
      <th><strong>Trang</strong></th>
      <th><strong>Số lượt xem</strong></th>
      <th><strong>Doanh thu</strong></th>
      <th><strong>Thời gian xem trang(s)</strong></th>
      <th><strong>Tỉ lệ thoát</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of prjProductPageBehaviorCommerces">
      <!--<td> {{msg.User}}</td>-->
      <td>{{item.PROJECT_ID}}</td>
      <td>{{item.DOMAIN}}</td>
      <td>{{item.PAGE_PATH}}</td>
      <td>{{item.PAGE_VIEW}}</td>
      <td>{{item.PAGE_VALUE | number}}</td>
      <td>{{item.TIME_ON_PAGE}}</td>
      <td>{{item.EXIT_RATE}}</td>
      <!--<td>-->
      <!--<a data-toggle="tooltip" data-placement="top" title="Xem chi tiết" style="cursor:pointer;" (click)="viewDetail(item)"><i class="fa fa-eye fa-lg" style="color:#1E88E5" ></i></a>-->
      <!--<a data-toggle="tooltip" data-placement="top" title="Cập nhật" style="cursor:pointer;" (click)="viewCategoryDetails(item)"><i class="fa fa-pencil-square-o fa-lg" style="color:#EF6C00"></i></a>-->

      <!--<a data-toggle="tooltip" data-placement="top" title="Xóa" (click)="deleteCategory(item)"><i class="fa fa-trash-o fa-lg" style="color:#D50000"></i></a>-->
      <!--</td>-->


    </tr>
    </tbody>
  </table>

  <pagination [boundaryLinks]="true" [totalItems]="totalItemsPrjProjectPageBehaviorEcommercesEcommerce" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPageProductListPerformanceEcommerce" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChangedPrjProjectPageBehaviorEcommercesEcommerce($event)"></pagination>


</div>

<br><br>
<h4>Hiệu suất danh sách sản phẩm</h4>
<div [@flyInOut]="'in'">
  <div class="col-md-9">
    <form class="span12" method="post" #domainSearchForm="ngForm"  novalidate >
      <label >Tìm kiếm:</label>
      <div class="input-group">

        <input type="text" placeholder="Tìm kiếm theo tên danh sách sản phẩm" class="form-control input-sm"  [(ngModel)]="this.searchString" name="SearchString" #SEARCHInput="ngModel"  pattern=".{1,500}"/>
        <span class="input-group-btn" ><button   (click)="searchitemProductListPerformanceEcommerce(this.searchString)" type="button" class="btn btn-success btn-sm"><i class="fa fa-search"></i> Tìm</button></span>
      </div>
    </form>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>

      <!--<th>Username</th>-->
      <th><strong>Mã sản phẩm</strong></th>
      <th><strong>Tên miền</strong></th>
      <th><strong>Tên danh sách sản phẩm</strong></th>
      <th><strong>Doanh thu</strong></th>
      <th><strong>Lượt xem chi tiết</strong></th>
      <th><strong>Số lượng SP thêm vào giỏ hàng</strong></th>
      <th><strong>Số lượng SP thanh toán</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of prjProductListPerformanceEcommerce">
      <!--<td> {{msg.User}}</td>-->
      <td>{{item.PROJECT_ID}}</td>
      <td>{{item.DOMAIN}}</td>
      <td>{{item.PRODUCTLIST}}</td>
      <td>{{item.ITEM_REVENUE| number}}</td>
      <td>{{item.PRODUCT_DETAIL_VIEWS}}</td>
      <td>{{item.QUANTITY_ADDED_TO_CART}}</td>
      <td>{{item.QUANTITY_CHECKED_OUT}}</td>
      <!--<td>-->
      <!--<a data-toggle="tooltip" data-placement="top" title="Xem chi tiết" style="cursor:pointer;" (click)="viewDetail(item)"><i class="fa fa-eye fa-lg" style="color:#1E88E5" ></i></a>-->
      <!--<a data-toggle="tooltip" data-placement="top" title="Cập nhật" style="cursor:pointer;" (click)="viewCategoryDetails(item)"><i class="fa fa-pencil-square-o fa-lg" style="color:#EF6C00"></i></a>-->

      <!--<a data-toggle="tooltip" data-placement="top" title="Xóa" (click)="deleteCategory(item)"><i class="fa fa-trash-o fa-lg" style="color:#D50000"></i></a>-->
      <!--</td>-->


    </tr>
    </tbody>
  </table>

  <pagination [boundaryLinks]="true" [totalItems]="totalItemsProductListPerformanceEcommerce" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPageProductListPerformanceEcommerce" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChangedProductListPerformanceEcommerce($event)"></pagination>


</div>
<!--<div bsModal #childModal="bs-modal" class="modal fade popup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">-->
  <!--<div class="modal-dialog modal-lg" *ngIf="selectedCategoryLoaded">-->
    <!--<div class="modal-content" style="background-color:whitesmoke;">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" aria-label="Close" (click)="hideChildModal()">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--<h4> Thông tin lĩnh vực</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<form method="post" #viewCategoryForm="ngForm" *ngIf="selectedCategoryLoaded" novalidate>-->
          <!--<fieldset>-->
            <!--<div class="alert alert-danger" [hidden]="isValid">-->
              <!--<ul *ngIf="formErrors.CategoryCode">-->

                <!--<li>{{formErrors.CategoryCode}}</li>-->
              <!--</ul>-->
              <!--<ul *ngIf="formErrors.CategoryName">-->
                <!--<li>{{formErrors.CategoryName}}</li>-->
              <!--</ul>-->
              <!--<ul *ngIf="formErrors.CategoryLevel">-->
                <!--<li>{{formErrors.CategoryLevel}}</li>-->
              <!--</ul>-->
              <!--&lt;!&ndash;<ul *ngIf="ManageUserInput.dirty && !ManageUserInput.valid && this.selectedManageUser">-->
                <!--<li *ngIf="DescriptionInput.errors.required">User quản lý không được bỏ trống</li>-->

              <!--</ul>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label >Mã lĩnh vực:</label>-->
              <!--<input type="text" [readonly]="true" class="form-control"  [(ngModel)]="selectedCategory.CATEGORY_CODE" name="CategoryCode" #CategoryCodeInput="ngModel" />-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label >Tên lĩnh vực:</label>-->
              <!--<input type="text" [readonly]="this.isViewDetail" class="form-control"  [(ngModel)]="selectedCategory.CATEGORY_NAME" name="CategoryName" #CategoryNameInput="ngModel" required pattern=".{1,200}"/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label >Lĩnh vực cha: </label>-->
              <!--&lt;!&ndash;<input type="text" [readonly]="this.isViewDetail" class="form-control"  [(ngModel)]="selectedCategory.PARENT_ID" name="ParentId" #ParentIdInput="ngModel" required />&ndash;&gt;-->
              <!--<select class="form-control"   [class.hidden]="this.isViewDetail" [(ngModel)]="selectedCategory.PARENT_ID" name="ParentId" #ParentId="ngModel" (change)="selectedParentNode(ParentId.value)" >-->
                <!--<option></option>-->
                <!--<option *ngFor="let item of categoriesParentList" [ngValue]="item.CATEGORY_ID">{{item.CATEGORY_CODE}} - {{item.CATEGORY_NAME}}</option>-->
              <!--</select>-->
              <!--<label class="form-control" [class.hidden]="!this.isViewDetail">{{selectedCategory.PARENT_CODE}} - {{selectedCategory.PARENT_NAME}}</label>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label >Cấp độ: </label>-->
              <!--<input type="number" readonly="readonly" class="form-control"  [(ngModel)]="selectedCategory.CATEGORY_LEVEL" name="CategoryLevel" #CategoryLevelInput="ngModel" pattern="\d+" min="1" value="1"/>-->
            <!--</div>-->

            <!--<hr/>-->
            <!--<button [class.hidden]="this.addingCategory || this.isViewDetail" [disabled]="!viewCategoryForm.form.valid " (click)="editCategory(selectedCategory)" type="button" class="btn btn-warning">Cập nhật</button>-->
            <!--<button [class.hidden]="!this.addingCategory || this.isViewDetail" [disabled]="!viewCategoryForm.form.valid " (click)="addNewCategory(selectedCategory)" type="button" class="btn btn-success">Thêm</button>-->
          <!--</fieldset>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
